@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400&display=swap');

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  font-family: 'Barlow', sans-serif;
  width: 80%;
  margin: auto;
  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}
h2 {
  font-size: 24px;
  margin-bottom: 5px;
}
h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.page {
  padding: 16px;
}
