@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>Vielen Dank für Ihre Registrierung. Sie werden in wenigen Sekunden weitergeleitet</p>
}

<script>
 window.onload = function() {
   setTimeout(function() {
    window.location.href ="/";
   }, 2000);
 }
</script>