<ng-container *ngIf="course; else spinner">
  <h1>Kurs „{{course.name}}“ <span class="sub-title">(<span
        *ngIf="userType !== UserType.Teacher">{{course.teacher.name}}, </span>{{course.subject.name}})</span></h1>
  <span [ngSwitch]="userType">
    <div *ngSwitchCase="UserType.Student">
      <h2>Zu erledigende Aufgaben</h2>
    </div>
    <div *ngSwitchDefault>
      <h2>Meine Aufgaben</h2>
    </div>
  </span>
  {{this.userType}}
  <app-exercises [exercises]="course.exercises"></app-exercises>
</ng-container>
<ng-template #spinner>
  <p-progressSpinner></p-progressSpinner>
</ng-template>
