<ng-container *ngIf="user">
  <div [ngSwitch]="user.userType">
    <div *ngSwitchCase="UserType.School">

    </div>
    <div *ngSwitchCase="UserType.Teacher">
      <div>
        <h1>Meine Kurse</h1>
        <app-courses [courses]="userCourses"></app-courses>
      </div>
      <div style="clear: both;">
        <h1>Meine Aufgaben</h1>
        <app-exercises [exercises]="userExercises"></app-exercises>
      </div>
    </div>
    <div *ngSwitchCase="UserType.Student">
      <div>
        <h1>Meine Kurse</h1>
        <app-courses [courses]="userCourses"></app-courses>
      </div>
      <div style="clear: both;">
        <h1>Meine Aufgaben</h1>
        <app-exercises [exercises]="userExercises"></app-exercises>
      </div>
    </div>
  </div>
</ng-container>
